:root {
  --background: #111111;
  --section-background: #222222;
  --subsection-background: #333333;

  --primary-color:    #796832;
  --secondary-color:  #e63946;
  --tertiary-color:   #000000;

  --trim-color:        #333333;

  --primary-text-color:    #f1faee;
  --secondary-text-color:  #a8dadc;

  --table-background:     #686868;

  --tableHeadBG: #464646;
  --tableHeadText: #e4e4e4;
  --tableHeadBorder: #00000044;

  --tableBodyText: #000000;
  --tableBodyBorder: #000000;

  --tableDataBorder: #cccccc;
  --tableDataHoveredBG: #dddddd;
  --tableDataHoveredBorder: #ff0000;
  --tableDataEditableBG: #ffffff;

  --tableThickBorder: #00000044;

  --white:    #ffffff;
  --lightGray:#cccccc;
  --gray:     #888888;
  --darkGray: #444444;
  --black:    #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  background: linear-gradient(to bottom, #333333, #080808, #000000); /* Darker grayscale gradient */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
