:root {
  --background-color: #111111;
  
  --primary-color:    #796832;
  --secondary-color:  #e63946;
  --tertiary-color:   #000000;

  --trim-color:        #333333;

  --primary-text-color:    #f1faee;
  --secondary-text-color:  #a8dadc;

  --tableBG:     #eeeeee;

  --tableHeadBG: #464646;
  --tableHeadText: #e4e4e4;
  --tableHeadBorder: #00000044;

  --tableBodyText: #000000;
  --tableBodyBorder: #000000;

  --tableDataBorder: #cccccc;
  --tableDataHoveredBG: #dddddd;
  --tableDataHoveredBorder: #ff0000;
  --tableDataEditableBG: #ffffff;

  --tableThickBorder: #00000044;

  --white:    #ffffff;
  --lightGray:#cccccc;
  --gray:     #888888;
  --darkGray: #444444;
  --black:    #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  background: linear-gradient(to bottom, #333333, #080808, #000000); /* Darker grayscale gradient */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  margin: auto;
  margin-top: 50px;
  border-collapse: collapse; 
  background-color: var(--tableBG); 
  /* width: 50%; */
}

thead {
  color: var(--tableHeadText);
  background-color: var(--tableHeadBG);
  border: 2px  solid var(--tableHeadBorder); 
}

.tableHeadSection {
  /* border: 3px solid #880000; */
}

th {
  padding-inline: 10px;

}

tbody {
  border: 2px  solid var(--tableBodyBorder); 
  color: var(--tableBodyText);
}

td {
  border: 1px  solid var(--tableDataBorder); 
  padding-inline: 10px;
}

.editable:hover {
  background-color: var(--tableDataHoveredBG);
  /* border: 1px solid var(--tableDataHoveredBorder); */
}

.editable {
  background-color: var(--tableDataEditableBG);
}

.thick {
  border-left: 2px solid var(--tableThickBorder);
}

.alignLeft{
  text-align: right;
}

.flexbox {
  display: flex;
  flex-direction: column;
}