.input-section{
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 100px; 
  /* border: red solid 2px; */
  color: white;
}

/* .input-sectionTitle{
  /* max-width: 400px; 
  padding-top: 50px;
  border: blue solid 5px;
} */

/* .input-subtitle{
  margin-top: 20px; 
  text-align: left;
  font-weight: normal;
  font-size: large;
  border: red solid 1px;
} */


.input-group{
  margin-inline: 10px;
  background-color: var(--black);
  border-radius: 10px;
}

.input-title{
  font-size: large;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 5px;
  background-color: var(--secondary-color);
}

.input-subcat{
  border: 1px solid var(--gray);
  border-radius: 10px;
  margin: 10px;
  padding-block: 5px;
}

.inputRow{
  font-size: medium;
  font-weight: normal;
  margin-inline: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  /* border: purple 1px solid; */
}

input{
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  width: 100px;
  height: 20px;
  margin-left: 10px;
  /* margin-right: 10px; */
  /* margin: 10px; */
  /* height: 10px; */
}

.RunTheNumbers{
  z-index: 10;
  color: var(--white);
  background-color: var(--secondary-color);
  /* margin: 50px; */
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  right: 50px;
  top: 100px;
  width: 200px;
  height: 50px;
  font-size: large;
}

a{
  padding-left: 10px;
}

.perc{
  width: 0;
  transform: translateX(-50px) translateY(1px);
}

.smolrow {
  font-size: 10px;
}

.retirementTableData {
  border: 1px  solid rgb(180, 180, 180); 
  /* padding-block: 10px;  */
  padding-inline: 5px;
}

.thickBorder{
  border-right: 5px solid rgb(133, 144, 180);
}

.dark{
  background-color: var(--darkGray);
}

.sectionDivide{
  width: 100%;
  border-bottom: var(--gray) 2px solid;
  padding-bottom: 50px; 
}

.upArrow{
  height: 20px;
  width: 15px;
  filter: brightness(1) invert(0.5) sepia(1) hue-rotate(90deg) saturate(7500%);
  transform: translate(0px, 4px); 
}

.downArrow{
  height: 20px;
  width: 15px;
  filter: brightness(1) invert(0.5) sepia(1) hue-rotate(-60deg) saturate(7500%);
  transform: scaleY(-1) translate(0px, -4px); 
}