.topbar {
  z-index: 100;
    background: linear-gradient(to top, rgb(133, 144, 180), rgb(48, 48, 48));
    border-top: rgb(0, 0, 0) 1px solid;
    /* background-color: ; */
    position: fixed;
    top: 0;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    font-weight: bold;
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
  }
  
  .topbar_link {
    padding: 5px 10px;
    cursor: pointer;
    /* border: purple 1px solid; */
  }
  
  .topbar_link:hover {
    /* background-color: var(--); Darker background color on hover */
  }
  
  